<!-- update.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Update Book</title>
</head>
<body>
    <h1>Update Book</h1>
    <form method="post" action="/update/<%= book.id %>">
        <label for="title">Title:</label>
        <inputn type="text" id="title" name="title" value="<%= book.title %>">
        <br>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" value="<%= book.author %>">
        <br>
        <input type="submit" value="Update">
    </form>
    <a href="/book/<%= book.id %>">View</a>
    <a href="/delete/<%= book.id %>">Delete</a>
    <a href="/">Back To List</a>
</body>
</html>